body {
  font-family: "Bahij TheSansArabic", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--white-color);
}
.overflow {
  overflow: hidden;
}
:root {
  --main-color: #000000;
  --main-hover: #01713f;
  --sec-color: #e5efeb;
  --black-color: #000000;
  --white-color: #ffffff;
}
img {
  image-rendering: -webkit-optimize-contrast;
  max-width: 100%;
}
/*style scroll bar*/
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-hover);
}
/*preloader*/
.preloader {
  -webkit-pointer-news: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.progress {
  position: fixed;
  z-index: 222000;
  top: 0;
  /* right: 100%; */
  width: 100%;
  height: 5px;
  background-color: #f7f7f7;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  overflow: hidden;
}

.progress-bar {
  animation: progress 6s ease infinite;
  padding: 1px;
  color: rgba(255, 255, 255, 100);
  background-image: linear-gradient(
    135deg,
    var(--sec-color),
    var(--main-color)
  );
  /* border-radius: 4px 4px 4px 4px; */
}
html[dir="ltr"] .progress-bar {
  background-image: linear-gradient(
    135deg,
    var(--main-color),
    var(--sec-color)
  );
}
@keyframes progress {
  from {
    width: 0;
    color: rgba(255, 255, 255, 0);
  }
  to {
    width: 100%;
    color: rgba(255, 255, 255, 1);
  }
}
/*preloader*/

/*lazyload*/
.lazy-img {
  transition: 0.5s;
}
.loading-img {
  background-color: #fafafa !important;
  position: relative;
  overflow: hidden;
}

.loading-img img {
  opacity: 0 !important;
  -webkit-filter: blur(40px);
  filter: blur(40px);
}

.loaded-img img {
  opacity: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
}

/*                          header section                     */
/*top header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  transition: all 0.3s ease-in-out;
}
.top-header a {
  text-decoration: none;
}
.show-icons .menu-bars {
  display: none;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 15px;
  transition: all 0.3s ease-in-out;
}
.big-menu > li a {
  color: var(--sec-color);
  font-size: 14px;
  font-weight: 600;
  padding: 5px 0;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 991px) {
  .fixed-nav .big-menu > li > a {
    color: var(--black-color);
  }
}
.big-menu > li a:hover {
  color: var(--main-hover);
}
.big-menu > li {
  margin-inline-end: 20px;
}
.big-menu > li:last-of-type {
  margin-inline-end: 30px;
}
.nav-header .big-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.fixed-nav {
  background-color: var(--white-color);
  margin-top: -200px;
  transition: all 0.3s ease-in-out;
}
.fixed-nav .nav-header {
  padding: 10px 30px;
}
.fixed-header {
  position: fixed;
}
.fixed-header .fixed-nav {
  margin: 0;
}
.fixed-nav .nav-header figure img {
  max-width: 200px;
  width: 200px;
  transition: all 0.3s ease-in-out;
}
.nav-header figure {
  margin: 0;
}
.nav-header figure img {
  max-width: 230px;
  width: 230px;
  transition: all 0.3s ease-in-out;
}
.vision-cont,
.logo-cont {
  position: relative;
}
.second-vision,
.second-logo {
  /* max-width: 200px;
  width: 200px; */
  /* background-color: var(--white-color); */
  visibility: hidden;
  opacity: 0;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.fixed-nav .img-logo,
.fixed-nav .vision-img {
  opacity: 0;
}
.second-vision.active,
.second-logo.active {
  visibility: visible;
  opacity: 1;
}
.header-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lang-ancor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 30px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  margin-inline-end: 35px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.fixed-nav .lang-ancor {
  background-color: rgba(0, 0, 0, 0.2);
}
.lang-ancor:hover {
  color: var(--white-color);
  background-color: var(--main-hover);
}
.nav-head {
  height: 38px;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.show-icons {
  display: flex;
  align-items: center;
}
.search-section {
  width: 100%;
  max-width: 35%;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  transition: all 0.3s ease-in-out;
}
.search-form {
  width: 100%;
  position: relative;
}
.search-open {
  top: 100px;
}
.search-input {
  position: relative;
  background-color: transparent;
  max-width: 100%;
  width: 100%;
  height: 50px;
  padding: 0 25px;
  font-size: 12px;
  color: #808080;
  font-weight: 300;
  border-color: transparent;
  border: 2px solid transparent;
  border-radius: 25px;
  background-color: #f2f2f2;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.search-input:focus {
  outline: none;
  border-color: var(--main-hover);
}
.search-input::placeholder {
  color: #808080;
}
.search-button {
  position: absolute;
  top: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  inset-inline-end: 5px;
  transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--white-color);
  background-color: var(--main-hover);
  border: none;
  font-size: 20px;
  padding: 0;
  transition: 0.3s;
}
.search-button:hover {
  background-color: var(--main-color);
}
.search-button {
  transform: translateY(-50%) scaleX(-1);
}
html[dir="rtl"] .fixed-search {
  transform: scaleX(-1);
}
.fixed-search {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 18px;
  color: var(--white-color);
  background-color: rgba(255, 255, 255, 0.2);
  outline: none !important;
  border: none;
  margin-inline-end: 10px;
  transition: all 0.3s ease-in-out;
}
.fixed-nav .fixed-search {
  background-color: rgba(0, 0, 0, 0.2);
}
.fixed-search:hover {
  background-color: var(--main-hover);
}
.close-search {
  position: absolute;
  top: 20px;
  left: 50%;
  font-size: 20px;
  color: var(--black-color);
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
}
.close-search:hover {
  color: var(--main-hover);
}
@media (max-width: 991px) {
  .search-section {
    width: 80%;
    max-width: 80%;
    order: unset;
    margin: 0;
  }
}
/*                          header section                     */
/*                            main                           */
.main {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 50px);
}
.main-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  user-select: none;
  pointer-events: none;
  z-index: 2;
  margin: 0;
}
.main-cont {
  position: relative;
}
.main .pro-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 50px);
  position: relative;
  padding-top: 52.64285714285714%;
}
.main .pro-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(38, 38, 38);
  background: linear-gradient(
    0deg,
    rgba(38, 38, 38, 0.2) 0%,
    rgba(38, 38, 38, 0.5) 60%,
    rgba(38, 38, 38, 0.7) 100%
  );
  z-index: 1;
}
.main .pro-img img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.main-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 700px;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 4;
  padding: 5px 20px;
  align-items: center;
}
.main-title {
  font-weight: 800;
  font-size: 60px;
  color: var(--white-color);
  margin-bottom: 10px;
  text-align: center;
  text-transform: capitalize;
}
.main-pargh {
  font-weight: 600;
  font-size: 26px;
  color: var(--white-color);
  text-align: center;
}
/*button down*/
.header-scroll-down-butt {
  position: absolute;
  left: 50%;
  bottom: 30px;
  cursor: pointer;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 11;
  background-color: transparent;
  padding: 0;
  border: none;
  display: block;
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  opacity: 0.5;
  color: var(--white-color);
  outline: none !important;
  transition: 0.3s;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header-scroll-down-butt i {
  font-size: 30px;
  margin-bottom: 5px;
}
@media (max-width: 991px) {
  .main-title {
    font-size: 40px;
  }
  .main-pargh {
    font-size: 20px;
  }
  .main-bg {
    max-width: 200px;
  }
}
/*                          main-slider                             */
/*                   fixed-news                            */
.fixed-news {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 12;
  overflow: hidden;
  width: 100%;
  padding: 0 30px;
  height: 50px;
  background-color: var(--main-hover);
}
.fixed-news-cont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.fixed-news-title {
  font-size: 16px;
  font-weight: 800;
  color: var(--white-color);
  margin: 0;
  margin-inline-end: 25px;
  flex-shrink: 0;
}
.fixed-news-scroll-cont {
  width: 100%;
  overflow: hidden;
}
.fixed-news-scroll {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  white-space: nowrap;
  padding-inline-start: 100%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
}
html[dir="ltr"] .fixed-news-scroll {
  -webkit-animation-name: ticker-left;
  animation-name: ticker-left;
}
.fixed-news-ancor {
  display: flex;
  align-items: center;
  color: #a4c1b0;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
  will-change: transform;
}
@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}
@-webkit-keyframes ticker-left {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker-left {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.fixed-news-ancor::after {
  content: "";
  font-family: "Line Awesome Free";
  font-weight: 900;
  font-size: 16px;
  color: var(--white-color);
  margin: 0 18px;
}
.fixed-news-ancor:hover {
  color: var(--white-color);
  text-decoration: none;
}
/*                   fixed-news                            */
/*                      about-us-section                      */
.about-us {
  margin: 80px 0 60px;
}
.feature {
  margin-bottom: 80px;
}
.about-us-cont {
  text-align: center;
}
.about-us-figrue {
  text-align: center;
  max-width: 100%;
  margin-bottom: 25px;
}
.about-us-pargh {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: var(--black-color);
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
}
.about-us-ancor {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #999999;
  margin-bottom: 45px;
  display: inline-block;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
.about-us-ancor:hover {
  color: var(--main-hover);
}
.about-us-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 80px;
}

.about-us-box {
  width: 100%;
  overflow: hidden;
  background-color: var(--white-color);
  border: 2px solid #f2f2f2;
  transition: all 0.3s ease-in-out;
  padding: 35px 35px 25px;
  text-align: center;
}
.about-us-box:hover {
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.07);
}
.about-us-box-figrue {
  width: 243px;
  height: 243px;
  max-width: 100%;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 25px;
}
.about-us-box-figrue img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-name {
  font-weight: 800;
  font-size: 16px;
  color: var(--main-hover);
  min-height: 44px;
  line-height: 22px;
  margin-bottom: 12px;
  text-align: center;
}
.about-span {
  font-weight: 600;
  font-size: 14px;
  color: #666666;
  text-align: center;
  line-height: 20px;
  min-height: 46px;
  display: inline-block;
}
html[dir="ltr"] .about-span {
  min-height: 60px;
}
.features-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.features-box {
  width: 100%;
  overflow: hidden;
  background-color: var(--main-hover);
  text-align: start;
  padding: 30px 35px 40px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.features-box i {
  color: var(--white-color);
  font-size: 36px;
  border-radius: 50%;
  width: 79px;
  height: 79px;
  background-color: #0f8550;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-inline-end: 22px;
  transition: all 0.3s ease-in-out;
}
.features-box:hover i {
  color: var(--main-hover);
  background-color: var(--white-color);
}
.features-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  padding-top: 15px;
}
.features-head {
  font-weight: 800;
  font-size: 18px;
  color: var(--white-color);
  text-transform: uppercase;
  margin-bottom: 15px;
}
.features-pargh {
  font-weight: 500;
  font-size: 14px;
  color: var(--white-color);
  text-align: start;
  margin: 0;
}
@media (max-width: 991px) {
  .fixed-news{
    padding: 0 20px;
  }
  .about-us {
    margin: 40px 0;
  }
  .about-us-box {
    padding: 30px 20px 20px;
  }
  .about-us-box-figrue {
    width: 100px;
    height: 100px;
  }
  .about-name {
    font-size: 14px;
    min-height: auto;
  }
  .about-us-pargh {
    text-align: justify;
    text-align-last: center;
    font-size: 16px;
  }
  .features-cont {
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .features-box {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .features-box i {
    margin: 0 0 20px;
  }
  .features-flex {
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }
  .features-pargh {
    text-align: center;
  }
  .about-us-content {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 40px;
  }
  .about-span {
    height: 40px;
    font-size: 12px;
  }
}
/*                      about-us-section                      */
/*                      services-section                      */
.services {
  margin-bottom: 100px;
  width: 100%;
  overflow: hidden;
  padding: 90px 0;
  text-align: center;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--main-hover);
}
.section-head {
  text-align: center;
  margin-bottom: 45px;
  font-weight: 800;
  font-size: 26px;
  color: var(--black-color);
}
.services .section-head {
  color: var(--white-color);
}
.services-cont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}
.services-box {
  width: 100%;
  overflow: hidden;
  background-color: var(--white-color);
  padding: 20px 20px 40px;
  text-align: center;
}
.services-ancor {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.services-span {
  min-height: 42px;
}
.services-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 55px;
  height: 55px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}
.services-ancor-figrue {
  position: relative;
  width: 100%;
  padding-top: 45.06769825918762%;
  margin-bottom: 25px;
  overflow: hidden;
}
.services-ancor-figrue img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.services-ancor:hover img {
  transform: scale(1.05);
}
.sevices-link {
  display: inline-block;
  text-align: center;
  margin-bottom: 14px;
  font-weight: 800;
  font-size: 18px;
  color: var(--black-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sevices-link:hover {
  color: var(--main-hover);
  text-decoration: none;
}
.services-pargh {
  font-weight: 500;
  font-size: 14px;
  color: var(--black-color);
  text-align: center;
  margin: 0 0 12px;
  line-height: 24px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 48px;
}
.services-show-ancor {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  color: #999999;
  display: inline-block;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
.services-show-ancor:hover {
  color: var(--main-hover);
}
@media (max-width: 991px) {
  .services {
    margin-bottom: 50px;
    padding: 50px 0;
  }
  .feature {
    margin-bottom: 50px;
  }
  .section-head {
    font-size: 22px;
    margin-bottom: 30px;
  }
  .services-cont {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
/*                      services-section                      */
/*                      sponsors-section                      */
.sponsors-section {
  margin-bottom: 77px;
}
.sponsors-section .section-head {
  margin-bottom: 30px;
}
.sponsors-slider {
  position: relative;
}
.sponsors-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  max-width: 164px;
  max-height: 164px;
  margin: 0;
}
.sponsors-img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sponsors-figure:hover .sponsors-img {
  transform: scale(1.02);
}
.sponsors-slider .swiper-btn {
  position: absolute;
  z-index: 1;
  top: 40%;
  transform: translateY(-50%);
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.302);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1320px) {
  .sponsors-slider .swiper-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.sponsors-slider .swiper-btn:hover {
  color: var(--main-hover);
}
.sponsors-slider .swiper-btn i {
  z-index: 2;
}
.sponsors-slider .swiper-btn.swiper-btn-next {
  left: -67px;
}

.sponsors-slider .swiper-btn.swiper-btn-prev {
  right: -67px;
}

.sponsors-slider .swiper-pagination {
  position: relative;
  width: 100%;
  bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
}

.sponsors-slider .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: rgb(0, 0, 0);
  opacity: 0.302;
  margin: 0 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  border-radius: 50%;
}

.sponsors-slider .swiper-pagination .swiper-pagination-bullet:hover {
  background-color: var(--main-hover);
}

.sponsors-slider
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--main-hover);
  opacity: 1;
}
.swiper-btn {
  cursor: pointer;
}
@media (max-width: 767px) {
  .sponsors-section {
    margin: 60px 0;
  }
}
/*                                  sponsors slider                    */
/*                              news-section                    */
.news-section {
  margin-bottom: 100px;
  padding: 80px 0;
  background-color: var(--sec-color);
  position: relative;
  overflow: hidden;
  text-align: center;
}
.news-section::after {
  content: url(../images/news/bg-after.png);
  position: absolute;
  bottom: 0;
  inset-inline-start: 0;
  user-select: none;
  pointer-events: none;
  max-width: 100%;
}
html[dir="ltr"] .news-section::after {
  transform: scaleX(-1);
}
.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-bottom: 40px;
}
.section-title .section-head {
  margin-bottom: 0;
}
.section-more {
  display: none;
  font-weight: 500;
  font-size: 14px;
  color: #666666;
  transition: all 0.3s ease-in-out;
}
.section-title .section-more {
  display: inline-block;
}
.section-more:hover {
  color: var(--main-hover);
  text-decoration: none;
}
.news-slider {
  position: relative;
}
.news-ancor {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.news-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  width: 100%;
  margin: 0;
  padding-top: 54.31754874651811%;
}
.news-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.news-figure:hover .news-img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.news-content {
  padding: 20px 25px;
  background-color: var(--white-color);
  text-align: start;
}
.news-date {
  display: block;
  color: #666666;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: start;
}
.news-link {
  display: inline-flex;
  color: var(--black-color);
  text-decoration: none !important;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
  text-align: start;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 50px;
  line-height: 25px;
  margin-bottom: 8px;
}
.news-link:hover {
  color: var(--main-hover);
}
.news-pargh {
  font-weight: 500;
  font-size: 14px;
  color: var(--black-color);
  width: 100%;
  margin: auto;
  margin-bottom: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: start;
  height: 42px;
}
.news-slider .swiper-btn {
  position: absolute;
  z-index: 1;
  top: 190px;
  color: rgba(0, 0, 0, 0.302);
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 30px;
  border-radius: unset;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1320px) {
  .news-slider .swiper-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.news-slider .swiper-btn:hover {
  color: var(--main-hover);
}
.news-slider .swiper-btn i {
  z-index: 2;
}
.news-slider .swiper-btn.swiper-btn-next {
  left: -75px;
}

.news-slider .swiper-btn.swiper-btn-prev {
  right: -75px;
}

.news-slider .swiper-pagination {
  position: relative;
  width: 100%;
  bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
}

.news-slider .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: rgb(0, 0, 0);
  opacity: 0.302;
  margin: 0 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  border-radius: 50%;
}

.news-slider .swiper-pagination .swiper-pagination-bullet:hover {
  background-color: var(--main-hover);
}

.news-slider
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--main-hover);
  opacity: 1;
}
@media (max-width: 767px) {
  .news-section {
    margin-bottom: 80px;
  }
  .section-title {
    justify-content: center;
  }
  .section-more {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 16px;
  }
  .section-title .section-more {
    display: none;
  }
}
/*                       events-section                             */
.events-section {
  margin-bottom: 80px;
  text-align: center;
}
.events-slider {
  position: relative;
}
.events {
  position: relative;
}
.events-ancor {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.events-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  width: 100%;
  margin: 0;
  padding-top: 51.79856115107914%;
}
.events-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.events-figure::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(38, 38, 38, 0.7) 0%,
    rgba(38, 38, 38, 0.3) 50%,
    rgba(38, 38, 38, 0) 100%
  );
  z-index: 1;
}
.events-figure:hover .events-img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.events-content {
  position: absolute;
  bottom: 0;
  padding: 20px 30px 30px;
  text-align: start;
  width: 100%;
  z-index: 3;
}
.events-date {
  display: block;
  color: var(--white-color);
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: start;
}
.events-link {
  display: inline-flex;
  color: var(--white-color);
  text-decoration: none !important;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
  text-align: start;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  /* height: 50px; */
  line-height: 25px;
  margin-bottom: 8px;
}
.events-link:hover {
  color: var(--white-color);
}
.events-slider .swiper-btn {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.302);
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 30px;
  border-radius: unset;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1320px) {
  .events-slider .swiper-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.events-slider .swiper-btn:hover {
  color: var(--main-hover);
}
.events-slider .swiper-btn i {
  z-index: 2;
}
.events-slider .swiper-btn.swiper-btn-next {
  left: -75px;
}

.events-slider .swiper-btn.swiper-btn-prev {
  right: -75px;
}

.events-slider .swiper-pagination {
  position: relative;
  width: 100%;
  bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
}

.events-slider .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: rgb(0, 0, 0);
  opacity: 0.302;
  margin: 0 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  border-radius: 50%;
}

.events-slider .swiper-pagination .swiper-pagination-bullet:hover {
  background-color: var(--main-hover);
}

.events-slider
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--main-hover);
  opacity: 1;
}
@media (max-width: 767px) {
  /* .events-section {
    margin-bottom: 40px;
  } */
  .events-content {
    padding: 20px 20px 15px;
  }
}
/*                       events-section                             */
/*                              video-section                    */
.video-section {
  padding: 80px 0;
  background-color: var(--main-hover);
  position: relative;
  overflow: hidden;
  text-align: center;
}
.video-section::after {
  content: url(../images/video-sec/bg-after.png);
  position: absolute;
  bottom: 0;
  inset-inline-end: 0;
  user-select: none;
  pointer-events: none;
  max-width: 100%;
}
.video-section .section-head {
  color: var(--white-color);
}
.video-section .section-more {
  color: #a4c1b0;
}
.video-section .section-more:hover {
  color: var(--white-color);
}
html[dir="ltr"] .video-section::after {
  transform: scaleX(-1);
}
.video-slider {
  position: relative;
}
.video-cont {
  position: relative;
  width: 100%;
}
.video-ancor {
  position: relative;
  display: flex;
}
.youtube-icon {
  position: absolute;
  width: 50px;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.video-ancor:hover .youtube-icon {
  transform: translate(-50%, -50%) scale(1.05);
}
.video-ancor {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.video-figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 0;
  padding-top: 54.31754874651811%;
}
.video-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.video-content {
  padding: 15px 10px;
  text-align: start;
}
.video-link {
  display: inline-flex;
  color: var(--white-color);
  text-decoration: none !important;
  font-size: 16px;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
  text-align: start;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 50px;
  line-height: 25px;
}
.video-link:hover {
  color: var(--white-color);
}

.video-slider .swiper-btn {
  position: absolute;
  z-index: 1;
  top: 85px;
  color: rgba(255, 255, 255, 0.302);
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 30px;
  border-radius: unset;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 1320px) {
  .video-slider .swiper-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.video-slider .swiper-btn:hover {
  color: var(--white-color);
}
.video-slider .swiper-btn i {
  z-index: 2;
}
.video-slider .swiper-btn.swiper-btn-next {
  left: -75px;
}

.video-slider .swiper-btn.swiper-btn-prev {
  right: -75px;
}

.video-slider .swiper-pagination {
  position: relative;
  width: 100%;
  bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
}

.video-slider .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: rgb(0, 0, 0);
  opacity: 0.302;
  margin: 0 3px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none !important;
  border-radius: 50%;
}

.video-slider .swiper-pagination .swiper-pagination-bullet:hover {
  background-color: var(--white-color);
}

.video-slider
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--white-color);
  opacity: 1;
}
@media (max-width: 767px) {
  .youtube {
    width: 35px;
  }
}
/*                                   footer                            */
footer {
  padding: 70px 0 40px;
  position: relative;
  overflow: hidden;
  text-align: start;
}
.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.footer-figure {
  max-width: 100%;
  width: 230px;
  margin-bottom: 20px;
}
.footer-registered {
  font-weight: 500;
  font-size: 14px;
  color: var(--black-color);
  text-align: start;
  margin-bottom: 8px;
}
.footer-img-cont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 25px;
}
.hrsd-figure,
.marof-figure {
  margin-bottom: 0;
}
.hrsd-figure {
  margin-inline-end: 10px;
}
.nav-foot {
  padding: 0;
}
.first-footer {
  margin-bottom: 15px;
}
.social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.social a {
  text-decoration: none !important;
}
.social-link {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-inline-end: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: var(--main-hover);
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
}
.linkedin-social {
  background-color: #0077b5;
}
.youtube-social {
  background-color: #ff0202;
}
.twitter-social {
  background-color: #1da1f2;
}
@media (hover: hover) {
  .social-link:hover {
    background-color: var(--main-hover);
    color: var(--white-color);
  }
}
.nav-foot-header {
  padding: 0;
  margin: 0 0 25px;
}
.footer-list a {
  text-decoration: none;
}
.news-letter,
.nav-foot-cont {
  padding-top: 20px;
}
.foot-header {
  text-transform: capitalize;
  white-space: nowrap;
  font-weight: 700;
  font-size: 16px;
  color: var(--black-color);
}
.nav-foot-li {
  margin-bottom: 5px;
}
.nav-foot-link {
  color: #666666;
  font-size: 14px;
  font-weight: 500;
  display: inline-flex;
  transition: all 0.3s ease-in-out;
}
.nav-foot-li .nav-foot-link:hover {
  transform: translateX(6px);
  color: var(--main-hover);
}
html[dir="rtl"] .nav-foot-li .nav-foot-link:hover {
  transform: translateX(-6px);
}
@media (min-width: 991px) {
  .nav-wrap {
    display: flex;
    flex-direction: column;
    max-height: 240px;
    flex-wrap: wrap;
  }
}
.news-letter h3 {
  margin: 0 0 25px;
}
.newsletter-cont {
  position: relative;
}
.news-span {
  font-weight: 500;
  font-size: 14px;
  color: var(--black-color);
  text-align: start;
  margin-bottom: 18px;
  display: inline-block;
}
.newsletter-input {
  text-align: start;
  background-color: #f2f2f2;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  padding: 0 20px;
  font-size: 12px;
  font-weight: 300;
  color: #808080;
  border: 2px solid #f2f2f2;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.newsletter-input::placeholder {
  color: #808080;
}
.newsletter-input:focus {
  border: 2px solid var(--main-hover);
}
.newsletter-button {
  position: absolute;
  cursor: pointer;
  inset-inline-end: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--white-color);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--main-hover);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.newsletter-button:hover {
  background-color: var(--main-color);
}
html[dir="ltr"] .newsletter-button i {
  transform: scaleX(-1);
}
.copy-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  font-size: 12px;
  font-weight: 300;
  color: var(--black-color);
}
.copy-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: start;
}
.design-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: end;
  text-transform: capitalize;
}
.design-text .taswak-img {
  max-width: 100%;
  margin-inline-start: 5px;
  image-rendering: -webkit-optimize-contrast;
}

/*                             footer accordion                 */
.footer-accordion.nav-foot-header {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-accordion {
  cursor: pointer;
  width: 100%;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-panel {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
  padding: 0 15px;
  margin-bottom: 15px;
}
.news-letter .footer-panel {
  padding: 0;
}
.footer-accordion:after {
  content: "";
  font-family: "line Awesome Free";
  font-weight: 900;
  font-size: 13px;
  transition: all 0.5s ease-out;
}
html[dir="rtl"] .footer-accordion:after {
  content: "";
}
.footer-accordion.active:after {
  transform: rotate(90deg);
}
html[dir="rtl"] .footer-accordion.active:after {
  transform: rotate(-90deg);
}
/*                             footer accordion                 */
@media (max-width: 767px) {
  /*                             footer                          */
  footer {
    padding-top: 50px;
  }
  .footer-info {
    align-items: center;
    margin-bottom: 25px;
  }
  .footer-registered {
    text-align: center;
  }
  .news-span {
    padding: 0 15px;
  }
  .foot-header {
    font-size: 16px;
  }
  .news-letter h3 {
    margin-bottom: 10px;
  }
  .nav-foot-cont {
    margin-bottom: 0;
  }
  .news-letter,
  .nav-foot-cont {
    padding-top: 0;
  }
  .first-footer {
    margin-bottom: 50px;
  }
  .copy-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
  .copy-right,
  .design-text {
    width: auto;
    text-align: center;
  }
  .copy-right {
    margin-bottom: 10px;
  }
  /*                             footer                          */
}
/*                                   footer                            */
/*                                    media query                                    */
/*                    menu in phone size                      */

@media (min-width: 992px) and (max-width: 1199px) {
  .fixed-nav .nav-header figure img,
  .nav-header figure img {
    max-width: 125px;
  }
  .big-menu > li a {
    font-size: 12px;
  }
  .big-menu > li {
    margin-inline-end: 15px;
  }
  html[dir="ltr"] .vision-cont {
    display: none;
  }
  html[dir="ltr"] .lang-ancor {
    margin-inline-end: 0;
  }
}
@media (max-width: 991px) {
  .hide-sm {
    display: none;
  }
  .vision-cont {
    margin-inline-end: 10px;
  }
  .vision-img {
    max-width: 45px;
  }
  .show-icons {
    display: flex;
    align-items: center;
  }
  .fixed-nav .nav-header figure img,
  .nav-header figure img {
    max-width: 180px;
  }
  .fixed-nav .nav-header,
  .nav-header {
    padding: 10px 20px;
  }
  .show-icons .lang-ancor {
    display: none;
  }
  .nav-head .lang-ancor {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .menu-bars {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    color: var(--white-color);
    transition: all 0.3s ease-in-out;
  }
  .menu-bars:hover {
    color: var(--main-hover);
  }
  .navgition {
    display: block;
    position: fixed;
    padding: 30px 20px;
    padding-top: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    clip-path: circle(10.9% at 16% 16%);
    background-color: rgba(255, 255, 255, 1);
    transition: 0.4s;
    z-index: 200;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
  }
  html[dir="ltr"] .navgition {
    clip-path: circle(11.2% at 86% 14%);
  }
  .reset-left {
    left: 0;
    top: 0;
    clip-path: circle(139.6% at 9% 15%);
    visibility: visible;
    opacity: 1;
  }
  html[dir="ltr"] .reset-left {
    clip-path: circle(121.2% at 86% 14%);
  }
  /*hamburger menu*/
  .show-icons .menu-bars {
    position: relative;
    z-index: 300;
    width: 18px;
    display: flex;
    align-items: center;
    outline: none !important;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  .hamburger-lines {
    height: 14px;
    width: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .hamburger-lines .line {
    display: block;
    height: 2px;
    width: 100%;
    background: var(--white-color);
    transition: all 0.4s ease-in-out;
  }
  .fixed-nav .hamburger-lines .line {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .open-bars .hamburger-lines .line {
    background-color: var(--black-color);
  }
  .internal-page .open-bars .hamburger-lines .line {
    background-color: var(--black-color);
  }
  .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .open-bars .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  .open-bars .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .open-bars .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  .nav-head {
    display: flex;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 0 0;
  }
  /* .fixed-nav .nav-head{
    padding: 15px 0 10px;
  } */
  .nav-header .big-menu {
    display: block;
    flex-direction: column;
    text-align: start;
    align-items: baseline;
    padding: 30px 0;
  }
  .nav-header li {
    margin-right: 0;
  }
  html[dir="rtl"] .nav-header li {
    margin-left: 0;
  }
  .big-menu li {
    margin-bottom: 10px;
  }
  .chevron-down {
    line-height: unset;
  }
  .nav-header li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--black-color);
    font-size: 16px;
  }
  /*                    menu in phone size                      */
}
@media (min-width: 991px) {
  .hide-big {
    display: none;
  }
}
@media (max-width: 767px) {
  .nav-foot {
    flex-direction: column;
    align-items: center;
  }
  .social {
    justify-content: center;
  }
}
/*                                    media query                                    */

.fixall {
  text-decoration: none;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

/*overlay*/
.overlay-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 10;
  background-color: #fff;
  display: none;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1170px;
  }
}
@media (max-width: 767px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    padding-right: 20px;
    padding-left: 20px;
  }
}
/*slide down menu*/
.mega-menu {
  position: relative;
}
@media (min-width: 992px) {
  .mega-menu:hover .btn-div {
    color: var(--main-hover);
  }
  .mega-menu:hover .cats-dispaly {
    opacity: 1;
    visibility: visible;
    z-index: 99;
  }
}
.cats-dispaly {
  position: absolute;
  inset-inline-start: -22px;
  top: calc(100% + 5px);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  /* width: max-content; */
  width: 180px;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-between;
  text-align: center;
  border: none;
  border-radius: 15px;
  padding: 10px 20px 15px 20px;
  transition: all 0.3s ease-in-out;
}
.cats-dispaly::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 5px solid rgba(0, 0, 0, 0.9);
  position: absolute;
  top: -5px;
  inset-inline-start: 22px;
  transition: 0.3s;
  opacity: 1;
}
.cats-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.cats-dispaly li,
html[dir="rtl"] .cats-dispaly li {
  margin: 0;
  padding: 5px 0;
}
.cats-dispaly li a {
  color: var(--white-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  display: block;
  display: flex;
  justify-content: start;
  text-align: start;
  width: 100%;
  padding: 0px;
  transition: all 0.3s ease-in-out;
}
.cats-dispaly li:hover > li a {
  color: var(--main-hover);
}
.chevron-down::after {
  content: "";
  font-family: "line Awesome Free";
  font-size: 12px;
  margin-inline-start: 2px;
  font-weight: 900;
}
@media (max-width: 991px) {
  .cats-div {
    align-items: center;
    padding: 0;
    width: unset;
    align-items: center;
  }
  .cats-dispaly::before {
    display: none;
  }
  .cats-dispaly {
    min-width: unset;
    z-index: 99;
    padding: 0;
    height: unset;
    margin: 0 auto;
    background-color: transparent;
    justify-content: center;
  }
  .cats-dispaly li a {
    justify-content: flex-start;
    text-align: start;
    color: var(--black-color);
  }
  .cats-dispaly::before {
    display: none;
  }
  .cats-dispaly {
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
    transition: none;
    box-shadow: none;
  }
  html[dir="rtl"] .cats-dispaly {
    box-shadow: none;
  }
  .cats-dispaly {
    left: 0;
    right: 0;
    transform: translateX(0);
  }
  html[dir="rtl"] .cats-dispaly {
    left: 0;
    right: 0;
    transform: translateX(0);
  }
  html[dir="ltr"] .cats-dispaly {
    left: 0;
    right: 0;
    transform: translateX(0);
  }
  .chevron-down::after {
    content: "";
    font-family: "line Awesome Free";
    font-size: 12px;
    margin-inline-start: 4px;
    font-weight: 900;
  }
}

/*                                 arrow-top                           */
.arrow-top {
  position: fixed;
  bottom: 125px;
  right: 20px;
  display: none;
  z-index: 10;
  text-decoration: none !important;
}
.arrow-top i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  /* box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.15); */
  font-size: 20px;
  color: var(--white-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.arrow-top i:hover {
  background-color: var(--main-hover);
  color: var(--white-color);
}
.fixed-what {
  position: fixed;
  bottom: 55px;
  right: 10px;
  z-index: 10;
  text-decoration: none !important;
}
.fixed-what i {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #4dc247;
  font-size: 42px;
  color: var(--white-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.fixed-what i:hover {
  background-color: var(--main-hover);
}
@media (max-width: 767px) {
  .arrow-top {
    bottom: 110px;
    right: 14px;
  }
  .fixed-what {
    position: fixed;
    right: 10px;
  }
  .fixed-what i {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
}
/* about page*/
body.internal-page {
  padding-top: 110px;
}

.internal-page header {
  background-color: var(--white-color);
}
.internal-page .nav-header {
  padding: 30px;
}
.internal-page .fixed-nav .nav-header {
  padding: 10px 30px;
}
.internal-page .img-logo,
.internal-page .vision-img {
  opacity: 0;
  visibility: hidden;
}
.internal-page .second-vision,
.internal-page .second-logo {
  visibility: visible;
  opacity: 1;
}
.internal-page .lang-ancor {
  background-color: rgba(0, 0, 0, 0.2);
}
.internal-page .fixed-search {
  background-color: rgba(0, 0, 0, 0.2);
}
.internal-page .lang-ancor:hover,
.internal-page .fixed-search:hover {
  background-color: var(--main-hover);
}
@media (min-width: 991px) {
  .internal-page .big-menu > li > a {
    color: var(--black-color);
  }
  .internal-page .big-menu > li > a:hover {
    color: var(--main-hover);
  }
}
.breadcrumb-sec {
  position: relative;
  background-color: var(--main-hover);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px 0;
}
.page-head {
  font-size: 24px;
  color: var(--white-color);
  font-weight: 700;
  margin-bottom: 15px;
  padding: 0;
  text-transform: capitalize;
  text-align: center;
}
ol.breadcrumb {
  background-color: transparent;
  border: none;
  border-radius: 0;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
ol.breadcrumb li a,
ol.breadcrumb li span,
ol.breadcrumb li {
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  font-size: 12px;
  color: var(--white-color);
  font-weight: 500;
  text-decoration: none !important;
}
ol.breadcrumb li a:hover,
ol.breadcrumb li span:hover,
ol.breadcrumb li:hover {
  color: var(--white-color);
}
ol.breadcrumb li:not(.active):after {
  content: "/";
  padding: 0 7px;
}
@media (max-width: 991px) {
  .internal-page .hamburger-lines .line {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .internal-page .nav-header {
    padding: 10px 20px;
  }
  .internal-page .fixed-nav .nav-header {
    padding: 10px 20px;
  }
  body.internal-page {
    padding-top: 71px;
  }
  .breadcrumb-sec {
    padding: 40px 0;
  }
  ol.breadcrumb {
    display: none;
  }
  .breadcrumb-sec .page-head {
    color: var(--white-color);
    margin-bottom: 0;
  }
}
.internal-pargh {
  margin-top: 35px;
  margin-bottom: 40px;
}
.internal-page .about-us-pargh {
  max-width: unset;
}
.internal-page .about-us-ancor {
  display: none;
}
.about-platform:nth-of-type(2n + 1) {
  background-color: #f5faf8;
}
.custum-bg .about-platform {
  background-color: var(--white-color);
}
.about-platform-cont {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 75px 0;
}
@media (min-width: 991px) {
  .about-platform:nth-of-type(2n) .about-platform-cont {
    flex-direction: row-reverse;
  }
  .about-platform:nth-of-type(2n + 1) .plarform-content {
    margin-inline-end: 40px;
  }
  .about-platform:nth-of-type(2n + 1) .platform-img-cont {
    margin-inline-start: 15px;
  }
  .about-platform:nth-of-type(2n) .plarform-content {
    margin-inline-start: 40px;
  }
  .about-platform:nth-of-type(2n) .platform-img-cont {
    margin-inline-end: 15px;
  }
}
.plarform-content {
  width: 60%;
  text-align: start;
}
.platform-img-cont {
  width: 40%;
  position: relative;
}
.platform-head {
  font-weight: 700;
  font-size: 24px;
  color: var(--main-hover);
  margin-bottom: 20px;
}
.platform-pargh {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: var(--black-color);
  text-align: justify;
}
.platform-bg {
  position: relative;
  padding-top: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--main-hover);
}
.platform-bg img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.platform-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.internal-feature {
  margin-top: 75px;
  margin-bottom: 0;
}
.internal-feature .features-box {
  flex-direction: column;
  align-items: center;
  padding: 40px 40px 50px;
}
.internal-feature .features-flex {
  text-align: center;
  align-items: center;
}
.internal-feature .features-head {
  font-size: 24px;
}
.internal-feature .features-pargh {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
}
.internal-feature .features-box i {
  margin: 0 0 30px;
}
@media (max-width: 991px) {
  .about-platform-cont {
    flex-direction: column;
    padding: 50px 0 25px;
  }
  .plarform-content {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .platform-head {
    font-size: 22px;
  }
  .platform-pargh {
    font-size: 16px;
    text-align: justify;
    text-align-last: center;
  }
  .platform-img-cont {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .internal-feature {
    margin-top: 40px;
  }
}
.about-list {
  padding: 80px 0;
}
.about-list-head {
  text-align: start;
  font-weight: 700;
  font-size: 24px;
  color: var(--main-hover);
  margin-bottom: 20px;
}
.about-list-cont {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about-list-cont li {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 15px;
}
.about-list-cont i {
  font-size: 24px;
  color: var(--main-hover);
  margin-inline-end: 12px;
}
.about-list-pargh {
  font-weight: 600;
  font-size: 18px;
  color: var(--black-color);
  text-align: start;
}
.about-list.custum-bg {
  background-color: #f5faf8;
}
.watani-section {
  margin: 60px 0;
}
.watani-img {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
  margin-bottom: 35px;
}
.service-page-info img,
.watani-img img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service-page-content p,
.watani-content p {
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: var(--black-color);
  text-align: justify;
  text-align-last: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.service-page-content p {
  text-align-last: auto;
}
@media (max-width: 991px) {
  .about-list-pargh {
    font-size: 16px;
  }
  .watani-section {
    margin: 40px 0;
  }
  .service-page-content p,
  .watani-content p {
    font-size: 16px;
  }
}
.service-page-section {
  margin: 60px 0;
}
.service-page-cont {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}
.service-page-info,
.service-page-form {
  width: 100%;
  overflow: hidden;
}
.service-page-img {
  position: relative;
  padding-top: 45.06769825918762%;
  width: 100%;
  margin-bottom: 35px;
}
@media (max-width: 991px) {
  .service-page-cont {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
.main-form {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.form-head {
  text-align: start;
  font-weight: 800;
  font-size: 24px;
  color: var(--main-hover);
  margin-bottom: 15px;
}
.form-group {
  margin-bottom: 10px;
  width: 100%;
}
.form-input {
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  height: 50px;
  width: 100%;
  padding: 0 25px;
  border-radius: 25px;
  text-align: start;
  color: #808080;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 0;
  transition: all 0.3s ease-in-out;
  caret-color: var(--main-hover);
}
.form-input[type="email"],
.form-input[type="tel"] {
  text-align: left;
}
.form-input[type="email"]::placeholder,
.form-input[type="tel"]::placeholder {
  text-align: start;
}
.form-input::placeholder {
  color: #808080;
}
textarea.form-input {
  height: 150px;
  resize: none;
  padding: 15px 25px;
}
.form-input:focus {
  border-color: var(--main-hover);
  outline: 0;
}
.form-btn-cont {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.form-btn {
  width: 136px;
  height: 50px;
  border-radius: 50px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  color: var(--white-color);
  background-color: var(--main-hover);
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
@media (hover: hover) {
  .form-btn:hover {
    text-decoration: none;
    color: var(--white-color);
    opacity: 0.7;
  }
}
.contact-section {
  margin: 60px 0;
}
.contact-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 30px;
}
.contact-box {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #f2f2f2;
  padding: 30px;
}
.contact-box i {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: var(--white-color);
  background-color: var(--main-hover);
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.contact-name {
  font-weight: 700;
  font-size: 16px;
  color: var(--black-color);
  text-align: center;
  margin-bottom: 20px;
}
.contact-ancor {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  color: var(--black-color);
  transition: all 0.3s ease-in-out;
}
a.contact-ancor:hover {
  text-decoration: none;
  color: var(--main-hover);
}
.map-frame {
  width: 100%;
  max-width: 100%;
  margin-bottom: 70px;
  position: relative;
}
.map-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.map-frame figure {
  margin: 0;
}
.map-frame img {
  width: 100%;
}
.contact-form .main-form {
  width: 380px;
  max-width: 100%;
  margin: 0 auto;
}
.contact-form .form-head {
  text-align: center;
  margin-bottom: 25px;
}
.contact-form .form-btn-cont {
  justify-content: center;
}
@media (max-width: 991px) {
  .form-head{
    font-size: 18px;
  }
  .contact-info {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .contact-box {
    padding: 20px;
  }
  .contact-box i {
    width: 50px;
    height: 50px;
    font-size: 30px;
    margin-bottom: 15px;
  }
  .contact-name {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .contact-ancor {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .map-icon {
    width: 45px;
  }
}
